<header class="head">
	<nav>
		<a href="{{path('Home.client') }}">
			<h1 id="logo">Senclient</h1>
			<div class="buttonH">
				<a href="{{path('security.logout') }}">
					<button id="btn">Deconnexion</button>
				</a>
			</div>
		</a>
	</nav>
</header>
